In [1]:
import pandas as pd
import numpy as np

df=pd.read_csv('data2.csv')
df.Medal.unique()

array(['No Medal', 'Bronze', 'Gold', 'Silver'], dtype=object)

In [2]:
#returns the number of gold medalists in the age range between 25 and 30 (inclusive).

newdf=df[(df.Age>=25)&(df.Age<=30)&(df.Medal=='Gold')]
newdf.count()[0]

17

In [3]:
# Number of medals in list sorted

newdf1=sorted(df.groupby('Medal')['Age'].count().values.tolist())
newdf1

[16, 17, 28, 438]

In [4]:
#returns the name of sports played in "Winter" in a reverse alphabetical order
new_df2=df[df.Season=='Winter']['Sport']
sorted(new_df2,reverse=True)

['Speed Skating',
 'Speed Skating',
 'Speed Skating',
 'Speed Skating',
 'Speed Skating',
 'Speed Skating',
 'Nordic Combined',
 'Nordic Combined',
 'Nordic Combined',
 'Nordic Combined',
 'Nordic Combined',
 'Nordic Combined',
 'Nordic Combined',
 'Luge',
 'Ice Hockey',
 'Ice Hockey',
 'Ice Hockey',
 'Figure Skating',
 'Figure Skating',
 'Figure Skating',
 'Figure Skating',
 'Figure Skating',
 'Cross Country Skiing',
 'Cross Country Skiing',
 'Cross Country Skiing',
 'Cross Country Skiing',
 'Cross Country Skiing',
 'Cross Country Skiing',
 'Cross Country Skiing',
 'Cross Country Skiing',
 'Cross Country Skiing',
 'Cross Country Skiing',
 'Cross Country Skiing',
 'Cross Country Skiing',
 'Cross Country Skiing',
 'Cross Country Skiing',
 'Cross Country Skiing',
 'Cross Country Skiing',
 'Cross Country Skiing',
 'Cross Country Skiing',
 'Cross Country Skiing',
 'Cross Country Skiing',
 'Cross Country Skiing',
 'Cross Country Skiing',
 'Bobsleigh',
 'Bobsleigh',
 'Bobsleigh',
 'Bobsleigh',
 'Bobsleigh',
 'Biathlon',
 'Alpine Skiing',
 'Alpine Skiing',
 'Alpine Skiing',
 'Alpine Skiing',
 'Alpine Skiing',
 'Alpine Skiing',
 'Alpine Skiing',
 'Alpine Skiing',
 'Alpine Skiing',
 'Alpine Skiing',
 'Alpine Skiing',
 'Alpine Skiing',
 'Alpine Skiing',
 'Alpine Skiing',
 'Alpine Skiing',
 'Alpine Skiing',
 'Alpine Skiing',
 'Alpine Skiing',
 'Alpine Skiing',
 'Alpine Skiing',
 'Alpine Skiing',
 'Alpine Skiing']

In [5]:
#function that returns the top 5 regions with the most medals in the form of a list.

b=df[df['Medal']!='No Medal'].groupby('region')['Age'].count().sort_values(ascending=False)
c=b[0:5]
c.index.tolist()

['Italy', 'Norway', 'USA', 'Finland', 'Spain']

In [6]:
df[df['Medal']=='Gold']['Height'].median()

181.5

In [7]:
#returns the number of Male and Females participated in a specific year 
year_val=1988
b=df[df['Year']==year_val]
b.groupby('Sex')['Name'].count().to_dict()

{'F': 2, 'M': 22}

In [8]:
#turns the name of the region with the maximum number of `No Medal`.

df1=df[df.Medal=='No Medal']
ans=df1.groupby('region')['Name'].count().sort_values(ascending=False)
ans.index.tolist()[0]

'Egypt'